In [2]:
import pandas as pd

df = pd.read_csv('Data/salaries(1).csv')

In [3]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,CT,Finance Data Analyst,300000,EUR,322723,FR,100,US,M
1,2023,SE,FT,Data Engineer,146000,USD,146000,US,0,US,M
2,2023,SE,FT,Data Engineer,75000,USD,75000,US,0,US,M
3,2023,SE,FT,Data Engineer,146000,USD,146000,US,0,US,M
4,2023,SE,FT,Data Engineer,75000,USD,75000,US,0,US,M

In [4]:
df['job_title'].unique()

array(['Finance Data Analyst', 'Data Engineer', 'Research Scientist',
       'Data Analyst', 'Data Analytics Manager', 'Applied Scientist',
       'Machine Learning Engineer', 'Data Specialist',
       'Data Operations Analyst', 'Data Modeler', 'Research Engineer',
       'Data Scientist', 'Director of Data Science',
       'Data Science Manager', 'Data Science Lead',
       'Machine Learning Scientist', 'AI Scientist',
       'Computer Vision Engineer', 'Data Science Consultant',
       'Applied Machine Learning Engineer', 'Analytics Engineer',
       'Decision Scientist', 'Business Data Analyst', 'BI Developer',
       'Machine Learning Software Engineer', 'NLP Engineer',
       'Principal Data Scientist', 'ML Engineer',
       'Business Intelligence Engineer', 'Data Strategist',
       'Compliance Data Analyst', 'Data Architect',
       'Applied Data Scientist', 'Staff Data Analyst', 'ETL Engineer',
       'Data DevOps Engineer', 'AI Developer', 'Head of Data',
       'Data Quality Analyst', 'Data Manager',
       'Machine Learning Researcher', 'Big Data Engineer',
       'Lead Data Analyst', 'BI Data Engineer', 'MLOps Engineer',
       'Autonomous Vehicle Technician',
       'Applied Machine Learning Scientist', 'Lead Data Scientist',
       'Cloud Database Engineer', 'Financial Data Analyst',
       'Data Infrastructure Engineer', 'Software Data Engineer',
       'AI Programmer', 'Data Operations Engineer',
       'Deep Learning Researcher', 'BI Analyst',
       'Data Analytics Specialist',
       'Machine Learning Infrastructure Engineer', 'BI Data Analyst',
       'Head of Data Science', 'Insight Analyst',
       'Deep Learning Engineer', 'Big Data Architect',
       'Product Data Analyst', 'Computer Vision Software Engineer',
       'Azure Data Engineer', 'Marketing Data Engineer',
       'Data Analytics Lead', 'Data Lead', 'Data Science Engineer',
       'Machine Learning Research Engineer', 'Manager Data Management',
       'Machine Learning Developer', '3D Computer Vision Researcher',
       'Principal Machine Learning Engineer', 'Data Analytics Engineer',
       'Data Analytics Consultant', 'Data Management Specialist',
       'Data Science Tech Lead', 'Data Scientist Lead',
       'Cloud Data Engineer', 'Marketing Data Analyst',
       'Power BI Developer', 'Product Data Scientist',
       'Principal Data Architect', 'Machine Learning Manager',
       'Lead Machine Learning Engineer', 'ETL Developer',
       'Cloud Data Architect', 'Lead Data Engineer',
       'Head of Machine Learning', 'Principal Data Analyst',
       'Principal Data Engineer', 'Staff Data Scientist'], dtype=object)